body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.contador-container {
  overflow: hidden;
  position: relative;
  height: 2px; /* Asegúrate de que la altura sea suficiente para mostrar el efecto */
  display: flex;
  align-items: center;
  justify-content: center;

}

.contador-caja{
  display: flex;
  justify-content: center;
  gap: 5px;
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  margin-top: 25px;
}
